.bgimg {
  background-image: url("./images/lady-justice-law-library-concept.jpg");
  background-repeat: no-repeat;
  height: 80vh;
  border: none;
  background-position: center;
  width: 100%;
  background-size: cover;
  border-radius: 7px;
}
